@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.top {
    background: url('../images/orangepng-01.png');
    background-size: cover;
    color: white; 
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    padding: 5em;
}
.top p{
    font-weight: normal;
    font-size: 100%;
    padding: 0em 8em 0em 8em;
}

input[type=text]{
    border: 1px solid black;
    border-radius:.5em;
    margin-right: 5em;
    padding-right: 15em;
    padding-bottom:5em;
}

button[type=submit]
{
    background-color: #CD4C08;
    border: none;
    padding: .5em 1em .5em 1em;
    border-radius:.25em;
    font-size: 1.3em;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

input[type=button]:hover {
    background-color:#ED8B00;
}
.buttons{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: "section1 section2 section3";
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 5em;
    background-color: #A2AAAD;
}
button {
    padding:2em 5em 2em 5em;
    background-color: #002855;
    color: white;
    margin-bottom: 5em;
    font-weight: bold;
    font-size: 125%;
    margin: 0em 1em 5em 1em;
}
button:hover{
    background-color: #005EB8;
}
form{
    background-color: #002855;
    Color: white;
    padding: 2em 40% 2em 40%;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: x-large;
    position: relative;
}

.topnav {
    background-color: #002855;
    overflow: hidden;
  }
  
  .topnav a {
    float: RIGHT;
    color: #f2f2f2;
    text-align: center;
    padding: 2em;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #005EB8;
    color: white;
  }
  .topnav a.active {
    background-color:#005EB8;
    color: white;
  }
  .week1{
    background-color: #333F48;
    padding: 5em;
    color: white;
  }

  @media screen and (max-width: 1024px) {
    body{
      font-size: 50%;
    }
}

@media screen and (max-width: 600px) {
    form{
      padding: 2em 25% 2em 25%;
    }
  }